{% extends "layout.html" %}

{% block title %}Attend{% endblock %}

{% block content %}
<section id="content">
    <h1>Attend</h1>
    <aside>
        <h1>What is Vermont Code Camp?</h1>
        <p>Vermont Code Camp is a full day event held each year that brings together technology community members, students and professionals from around Vermont and beyond. There are sessions on a variety of software topics including .NET, PHP, Ruby, Python, Java and more. <strong>Registration is free.</strong></p>
    </aside>
    <article>
        <h1>About the Event</h1>
        <p>Vermont Code Camp 2012 will be held in September, 2012 in Burlington, VT. This will be the 4th annual Vermont Code Camp.</p>
        <p>In 2011, 158 local nerds participated. Four rooms provided concurrent sessions on .NET, PHP, Ruby, Python, and more throughout the day. Two of the rooms had .NET topics and another had sessions on free/open source software. There was a fourth room where developers were introduced to various technologies that they may not use every day.</p>
        <p>Check back for details about Vermont Code Camp 2012 or <a href="http://twitter.com/VTCodeCamp">follow us on Twitter</a>.</p>
        <p>Vermont Code Camp is a great way to bring together technology user groups from around Vermont. The <a href="http://www.vtdotnet.org/">Vermont.NET User Group</a> is the primary organizer of the event, but we see others from the <a href="http://groups.google.com/group/burlington-vt-php">Burlington, VT PHP Users Group</a>, the <a href="http://www.vtrails.org/">Vermont Ruby On Rails User Group</a>, the <a href="http://www.uvm.org/vague/">Vermont Area Group of Unix Enthusiasts</a> (VAGUE), the <a href="http://www.gmoug.org/">Green Mountain Oracle Users Group</a>, the <a href="http://www.neaug.org/">New England Adobe User Group</a>, and the <a href="http://vtsql.sqlpass.org/">VT SQL Server Users Group</a>.</p>
    </article>
</section>
{% endblock %}
