{% extends "layouts/default.html" %}

{% block title %}Code of Conduct{% endblock %}

{% block description %}Our Code of Conduct outlines our expectations for all those who participate in our event.{% endblock %}

{% block content %}
<section id="content">
    <h1>Code of Conduct</h1>
    <h2>1. Purpose</h2>
    <p>Vermont Code Camp is committed to providing a friendly, safe and welcoming environment for everyone. We do not tolerate harassment of participants in any form.</p>
    <p>This code of conduct outlines our expectations for all those who participate in our event and also applies to online discourse including slack communications and meetup comments including public channels, private channels and direct messages, both online and off. This Code of Conduct includes consequences for unacceptable behavior.</p>
    <p>We invite all those who participate in Vermont Code Camp to help us create safe and positive experiences for everyone.</p>
    <h2>2. Open Culture Citizenship</h2>
    <p>A supplemental goal of this Code of Conduct is to increase open culture citizenship by encouraging participants to recognize and strengthen the relationships between our actions and their effects on our community.</p>
    <p>Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society.</p>
    <p>If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages all participants to contribute to the fullest extent, we want to know.</p>
    <h2>3. Expected Behavior</h2>
    <ul>
        <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community. Exercise consideration and respect in your speech and actions.</li>
        <li>Attempt collaboration before conflict.</li>
        <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
        <li>Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
    </ul>
    <h2>4. Defining Unacceptable Behavior and Harassment</h2>
    <p>Examples of unacceptable behavior and harassment includes but is not limited to:</p>
    <ul>
        <li>Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, body size, race, education level, or religion</li>
        <li>Unwelcome comments regarding a person’s lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.</li>
        <li>Deliberate misgendering or use of “dead” or rejected names</li>
        <li>Gratuitous or off-topic sexual images or behavior in spaces where they’re not appropriate</li>
        <li>Physical contact and simulated physical contact (eg, textual descriptions like “hug” or “backrub”) without consent or after a request to stop.</li>
        <li>Threats of violence</li>
        <li>Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm</li>
        <li>Deliberate intimidation</li>
        <li>Stalking or following</li>
        <li>Harassing photography or recording, including logging online activity for harassment purposes</li>
        <li>Sustained disruption of speakers, hallway discussion, etc.</li>
        <li>Unwelcome sexual attention</li>
        <li>Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others</li>
        <li>Continued one-on-one communication after requests to cease</li>
        <li>Deliberate “outing” of any aspect of a person’s identity without their consent except as necessary to protect vulnerable people from intentional abuse</li>
        <li>Publication of non-harassing private communication</li>
    </ul>
    <h2>5. Vermont Code Camp prioritizes marginalized people’s safety over privileged people’s comfort.</h2> 
    <p>The organizers and event staff will not act on complaints regarding:</p>
    <ul>
        <li>“Reverse”-isms, including “reverse racism,” “reverse sexism,” and “cisphobia”</li>
        <li>Reasonable communication of boundaries, such as “leave me alone,” “go away,” or “I’m not discussing this with you.”</li>
        <li>Communicating in a “tone” you don’t find congenial</li>
        <li>Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions</li>
    </ul>
    <h2>6. Consequences of Unacceptable Behavior</h2>
    <p>Unacceptable behavior from any community member, including sponsors, organizers, volunteers, and those with decision-making authority, will not be tolerated.</p>
    <p>Anyone asked to stop unacceptable behavior is expected to comply immediately.</p>
    <p>If a community member engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning and without refund.</p>
    <p>If an attendee or speaker is violating the Code of Conduct, they will be given a warning based on the severity determined by the conference organizers. If the grievance is severe, they will be asked to leave immediately and not return.</p>
    <p>If a speaker is violating the Code of Conduct either with their words or within the content of their slide deck, their talk will be ended immediately and they will receive a warning. Dependent on the severity of the grievance, the speaker may be asked to leave the conference and banned from future Vermont Code Camp events.</p>
    <h2>7. Reporting Unacceptable Behavior</h2>
    <p>If you are subject to or witness unacceptable behavior, or have any other concerns, please notify a community organizer or volunteer as soon as possible. At in-person events, organizers/volunteers can be identified by a "Volunteer" t-shirt. Outside of events, organizers can be reached via email at <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a>; <strong>however, this email may not be monitored during in-person events, so it is important to find an organizer/volunteer at the event or call the proper authorities based on the severity of the offense.</strong></p>
    <p>Additionally, community organizers are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress.</p>
    <p><strong>If you feel that you are unsafe in an emergency situation, contact 911.</strong> For non-emergencies, the Burlington Police Department can be reached at (802) 658-2704, and the Champlain College office of Campus Public Safety can be reached at (802) 865-6465 (dial extension 6465 from any campus phone).</p>
    <p>If you are a witness to behavior that violates this Code of Conduct, we recommend you take the following actions:</p>
    <ul>
        <li>If there is an immediate threat present, contact 911, or the Burlington Police Department at (802) 658-2704. Additionally, the Champlain College office of Campus Public Safety can be reached at (802) 865-6465 (dial extension 6465 from any campus phone).</li>
        <li>Sit with the victim and ask, "How can I help?"</li>
        <li>Provide the victim with emergency contact information if needed.</li>
        <li>Communicate with the event organizers about what happened and how to handle it.</li>
    </ul>
    <p>Again, please let us know when an incident occurs. At in-person events, organizers/volunteers can be identified by a "Volunteer" t-shirt. The email address, <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a>, goes directly to the organizers <strong>(however, since this email address may not be monitored during in-person events, please find an organizer/volunteer and notify them directly)</strong>.</p>
    <p>We will take all good-faith reports of harassment by Vermont Code Camp community members, especially the organizers and volunteers, seriously. This includes harassment outside our spaces and harassment that took place at any point in time. The organizing team reserves the right to exclude people from Vermont Code Camp based on their past behavior, including behavior outside Vermont Code Camp spaces and behavior towards people who are not part of Vermont Code Camp.</p>
    <p>In order to protect volunteer organizers from abuse and burnout, we reserve the right to reject any report we believe to have been made in bad faith.</p>
    <p>We will respect confidentiality requests for the purpose of protecting victims of abuse. At our discretion, we may publicly name a person about whom we’ve received harassment complaints, or privately warn third parties about them, if we believe that doing so will increase the safety of Vermont Code Camp members or the general public. We will not name harassment victims without their affirmative consent.</p>
    <h2>8. Addressing Grievances</h2>
    <p>If you feel you have been falsely or unfairly accused of violating this Code of Conduct, you should notify the conference organizers with a concise description of your grievance. When reporting a grievance please provide the following information in writing:</p>
    <ul>
        <li>when it happened</li>
        <li>what happened</li>
        <li>the context surrounding the grievance</li>
        <li>who caused the grievance</li>
        <li>who else was involved</li>
    </ul>
    <h2>9. Scope</h2>
    <p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues—online and in-person—as well as in all one-on-one communications pertaining to community business.</p>
    <h2>10. Contact Info</h2>
    <p><strong>At in-person events, please notify a community organizer or volunteer directly.</strong> Organizers/volunteers can be identified by a "Volunteer" t-shirt.</p>
    <p>Email: <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a> (this email address may not be monitored during in-person events)</p>
    <h2>11. License and Attribution</h2>
    <p>This Code of Conduct is distributed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike license</a>.</p>
    <p>Adapted from the <a href="https://witchat.github.io/">Women in Technology Code of Conduct</a>, updated on July 27, 2019.</p>
</section>
{% endblock %}
