{% extends "layouts/default.html" %}

{% block title %}Code of Conduct{% endblock %}

{% block description %}Our Code of Conduct outlines our expectations for all those who participate in our event.{% endblock %}

{% block content %}
<section id="content">
    <h1>Code of Conduct</h1>
    <h2>1. Purpose</h2>
    <p>A primary goal of Vermont Code Camp is to be inclusive to the largest number of attendees and speakers, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).</p>
    <p>This code of conduct outlines our expectations for all those who participate in our event, as well as the consequences for unacceptable behavior.</p>
    <p>We invite all those who participate in Vermont Code Camp to help us create safe and positive experiences for everyone.</p>
    <h2>2. Open Culture Citizenship</h2>
    <p>A supplemental goal of this Code of Conduct is to increase open culture citizenship by encouraging participants to recognize and strengthen the relationships between our actions and their effects on our community.</p>
    <p>Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society.</p>
    <p>If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages all participants to contribute to the fullest extent, we want to know.</p>
    <h2>3. Expected Behavior</h2>
    <ul>
        <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community. Exercise consideration and respect in your speech and actions.</li>
        <li>Attempt collaboration before conflict.</li>
        <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
        <li>Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
    </ul>
    <h2>4. Unacceptable Behavior</h2>
    <p>Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, derogatory or demeaning speech or actions by any participant in our community online, at all related events and in one-on-one communications carried out in the context of community business. Community event venues may be shared with members of the public; please be respectful to all patrons of these locations.</p>
    <p>Harassment includes: harmful or prejudicial verbal or written comments related to gender, sexual orientation, race, religion, disability; inappropriate use of nudity and/or sexual images in public spaces (including presentation slides); deliberate intimidation, stalking or following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact, and unwelcome sexual attention.</p>
    <h2>5. Consequences of Unacceptable Behavior</h2>
    <p>Unacceptable behavior from any community member, including sponsors and those with decision-making authority, will not be tolerated.</p>
    <p>Anyone asked to stop unacceptable behavior is expected to comply immediately.</p>
    <p>If a community member engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning and without refund.</p>
    <p>If an attendee or speaker is violating the Code of Conduct, they will be given a warning based on the severity determined by the conference organizers. If the grievance is severe, they will be asked to leave immediately and not return.</p>
    <p>If a speaker is violating the Code of Conduct, their talk will be ended immediately and they will receive a warning. Dependent on the severity of the grievance, the speaker may be asked to leave the conference and banned from future Vermont Code Camp events.</p>
    <h2>6. If You Witness or Are Subject to Unacceptable Behavior</h2>
    <p>If you are subject to or witness unacceptable behavior, or have any other concerns, please notify a community organizer or volunteer as soon as possible. At in-person events, organizers/volunteers can be identified by a "Volunteer" t-shirt. Outside of events, organizers can be reached via email at <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a>; <strong>however, this email may not be monitored during in-person events, so it is important to find an organizer/volunteer at the event.</strong></p>
    <p>Additionally, community organizers are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress.</p>
    <p><strong>If you feel that you are unsafe in an emergency situation, contact 911.</strong> For non-emergencies, the Burlington Police Department can be reached at (802) 658-2704, and the Champlain College office of Campus Public Safety can be reached at (802) 865-6465 (dial extension 6465 from any campus phone).</p>
    <p>If you are a witness to behavior that violates this Code of Conduct, we recommend you take the following actions:</p>
    <ul>
        <li>If there is a threat present, contact 911, or the Burlington Police Department at (802) 658-2704. Additionally, the Champlain College office of Campus Public Safety can be reached at (802) 865-6465 (dial extension 6465 from any campus phone).</li>
        <li>Sit with the victim and ask, "How can I help?"</li>
        <li>Provide the victim with emergency contact information if needed.</li>
        <li>Communicate with the event organizers about what happened and how to handle it.</li>
    </ul>
    <p>Again, please let us know when an incident occurs. At in-person events, organizers/volunteers can be identified by a "Volunteer" t-shirt. The email address, <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a>, goes directly to the organizers <strong>(however, since this email address may not be monitored during in-person events, please find an organizer/volunteer and notify them directly)</strong>.</p>
    <h2>7. Addressing Grievances</h2>
    <p>If you feel you have been falsely or unfairly accused of violating this Code of Conduct, you should notify the conference organizers with a concise description of your grievance. When reporting a grievance please provide the following information in writing:</p>
    <ul>
        <li>when it happened</li>
        <li>what happened</li>
        <li>the context surrounding the grievance</li>
        <li>who caused the grievance</li>
        <li>who else was involved</li>
    </ul>
    <h2>8. Scope</h2>
    <p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues—online and in-person—as well as in all one-on-one communications pertaining to community business.</p>
    <h2>9. Contact Info</h2>
    <p><strong>At in-person events, please notify a community organizer or volunteer directly.</strong> Organizers/volunteers can be identified by a "Volunteer" t-shirt.</p>
    <p>Email: <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a> (this email address may not be monitored during in-person events)</p>
    <h2>10. License and Attribution</h2>
    <p>This Code of Conduct is distributed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike license</a>.</p>
    <p>Based on the <a href="http://uxburlington.com/">UX Burlington</a> <a href="http://uxburlington.com/conduct/">Code of Conduct</a>, which was adapted from the <a href="http://citizencodeofconduct.org/">Citizen Code of Conduct</a>, <a href="https://github.com/python/pycon-code-of-conduct/blob/master/Attendee%20Procedure%20for%20incident%20handling.md">Pycon Attendee Procedure for incident handling</a> and <a href="https://github.com/python/pycon-code-of-conduct/blob/master/Staff%20Procedure%20for%20incident%20handling.md">Pycon Staff Procedure for incident handling</a> on 16 February 2014.</p>
</section>
{% endblock %}
