{% extends "layouts/default.html" %}

{% block title %}Diversity Statement{% endblock %}

{% block description %}Our goal is to create an inclusive, respectful event environment.{% endblock %}

{% block content %}
<section id="content">
    <h1>Diversity Statement</h1>
    <p>Our goal is to create an inclusive, respectful event environment that invites participation from people of all races, ethnicities, gender identities or expressions, ages, abilities, religions (or lack thereof), sexual orientations, and educational levels.</p>
    <p>We're actively seeking to increase the diversity of our attendees, speakers, and sponsors through our calls for proposals, other open submission processes, and through dialogue with the larger communities we serve.</p>
    <p>This is an ongoing process. We are talking amongst our event organizers, and various innovators, experts, and organizations about this goal and about ways they can help us achieve it.</p>
    <p>Here are some ways you can help us build a more diverse conference experience:</p>
    <ul>
        <li>Recommend appropriate speakers and/or organizers to the current organizers (see [our call for session proposals](http://vtcodecamp.org/#speak); you may also send an email to [team@vtcodecamp.org](mailto:team@vtcodecamp.org).</li>
        <li>Forward our call for proposals to relevant affinity groups with the message that we are looking for a diverse speaker roster.</li>
        <li>Suggest to potential speakers that they submit a proposal during our call for session proposals phase (see [our call for session proposals](http://vtcodecamp.org/#speak) for details).</li>
        <li>Organize community-based public speaking trainings and practice events (Ignite is one popular format).</li>
        <li>Suggest ways that the onsite event experience can be more welcoming and supportive, free from intimidation and marginalization (send an email to <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a>).</li>
        <li>Share your ideas and best practices for how we can realize our vision (send an email to <a href="mailto:team@vtcodecamp.org">team@vtcodecamp.org</a>).</li>
    </ul>
    <p>We value diversity in the communities we bring together, and we welcome your contributions to bringing balanced representation of the richness of our collective human experience.</p>
    <p>The above Conference Diversity statement is licensed by O'Reilly Media, Inc. under the Creative Commons Attribution 3.0 United States License: <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons 3.0</a>. Based on the <a href="http://uxburlington.com/">UX Burlington</a> <a href="http://uxburlington.com/diversity/">Diversity Statement</a>.</p>
</section>
{% endblock %}
