{% extends "layouts/default.html" %}

{% block title %}Bringing Together Technology Community Members, Students and Professionals{% endblock %}

{% block description %}Vermont Code Camp is a full day event that brings together technology community members, students and professionals from around Vermont and beyond.{% endblock %}

{% block content %}
<section id="content">
    <article id="attend" class="anchor">
        <header>
            <h1>Attend</h1>
            <img src="/media/attendee-registration-480x320.jpg" width="480" height="320" alt="Attendee Registration" />
        </header>
        <article class="vevent" id="hcalendar-Vermont-Code-Camp-2016">
            <h1>About the Event</h1>
            <p class="description"><strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. In 2015, there were <a href="{{ path('schedule', {'year': '2015'}) }}" title="2015 Schedule">sessions on a variety of software topics</a> including programming, databases, web, business and more.</p>
            <dl>
                <dt>When</dt>
                <dd>Saturday, <abbr title="2016-09-17T08:30-04:00" class="dtstart">September 17, 2016, 8:30am</abbr> - <abbr title="2016-09-17T17:30-04:00" class="dtend">5:30pm</abbr></dd>
                <dt>Where</dt>
                <dd><abbr title="Kalkin Hall, The University of Vermont, 55 Colchester Avenue, Burlington, VT" class="location">Kalkin Hall on the University of Vermont campus in Burlington, VT</abbr></dd>
            </dl>
            <p><a href="http://www.meetup.com/VTCode/events/230748516/" class="button">Register Now</a> <strong>Registration is free.</strong></p>
        </article>
        <article class="sponsors">
            <h1>Premiere Sponsor</h1>
            <ul class="sponsors">
                <li><a href="http://www.uvm.edu/business/"><span class="logo the-university-of-vermont-grossman-school-of-business">The University of Vermont Grossman School of Business</span></a></li>
            </ul>
        </article>
    </article>
    <article id="speak" class="anchor">
        <header>
            <h1>Speak</h1>
            <img src="/media/speaker-presentation-480x320.jpg" width="480" height="320" alt="Speaker Presentation" />
        </header>
        <article>
            <h1>Propose a Session</h1>
            <p>Vermont Code Camp needs you! Please consider submitting a speaker session proposal. You don't have to be from Vermont to attend or speak.</p>
            <p>Possible topics include .NET, PHP, Ruby, Python, Java&hellip;really, anything related to development. You can refer to the <a href="{{ path('page', {'id': '2015/schedule'}) }}">2015 schedule</a> for session ideas.</p>
            <p>Sessions are typically 30 minutes to 1 hour in duration, including time for questions. Feel free to submit one or several session proposals.</p>
            <p><span class="highlight">The deadline to submit session proposals is Sunday, August 7, 2016.</span> Selection notification will be by Sunday, August 14.</p>
            <p><a href="https://www.eventbrite.com/e/vermont-code-camp-8-sept-17-2016-speaker-submissions-tickets-25067022138" class="button">Submit a Session Proposal</a></p>
        </article>
    </article>
    <article id="sponsor" class="anchor">
        <header>
            <h1>Sponsor</h1>
            <img src="/media/handing-out-swag-480x320.jpg" width="480" height="320" alt="Handing Out Swag" />
        </header>
        <aside>
            <h1>Key Facts</h1>
            <ul>
                <li>Vermont Code Camp is an annual event – its inaugural year was 2009</li>
                <li>Attendance and participation is strong:
                    <ul>
                        <li>2015: 165 attendees, 32 sessions, 34 speakers</li>
                        <li>2014: 165 attendees, 29 sessions, 29 speakers <small>(plus 2 lunchtime special presentations)</small></li>
                        <li>2013: 161 attendees, 27 sessions, 27 speakers <small>(plus a lunchtime special presentation)</small></li>
                        <li>2012: 171 attendees, 29 sessions, 28 speakers</li>
                        <li>2011: 158 attendees, 26 sessions, 24 speakers</li>
                        <li>2010: 125 attendees, 25 sessions, 23 speakers</li>
                        <li>2009: 85 attendees, 19 sessions</li>
                    </ul>
                </li>
                <li>Covers a wide variety of technology topics including .NET, PHP, Ruby, Python, and Java</li>
                <li>Entirely community organized, with the help of sponsors</li>
                <li>Organized primarily by the Vermont.NET User Group with help from other groups including the Burlington, Vermont PHP Users Group</li>
                <li>Facility provided by The University of Vermont's School of Business Administration</li>
                <li>Sponsors have included MyWebGrocer, Green Mountain Coffee Roasters, Microsoft, and Dealer.com</li>
                <li>Registration is free</li>
            </ul>
        </aside>
        <article>
            <h1>Be a Sponsor</h1>
            <p>The eighth annual Vermont Code Camp will be held on September 17, 2016 in Burlington, Vermont. This full day event will bring together technology community members, students and professionals from around Vermont and beyond. A wide variety of software technologies will be represented, and session topics will likely include programming, databases, web, business and more.</p>
            <p>Vermont Code Camp is organized entirely by community volunteers, with the help of several sponsors. Sponsorship opportunities typically include:</p>
            <ul>
                <li><strong>Feed us:</strong> sponsor breakfast, lunch or afternoon snacks</li>
                <li><strong>Educate us:</strong> send books, mags, training to raffle</li>
                <li><strong>Simplify our lives:</strong> send your great software to raffle</li>
                <li><strong>Promote us:</strong> give us advertising space</li>
            </ul>
            <h2>Sponsorship Levels</h2>
            <ul>
                <li><strong>Premiere:</strong> $1,000+ or significant in-kind donation</li>
                <li><strong>Platinum:</strong> $750+</li>
                <li><strong>Gold:</strong> $500+</li>
                <li><strong>Silver:</strong> $250+</li>
                <li><strong>Bronze:</strong> $100+</li>
                <li><strong>Swag:</strong> Give-away items (e.g. books, bags, items to put in attendee bags, software licenses, other raffle items, etc.)</li>
            </ul>
            <p><span class="highlight">Contact us to learn more or to become a sponsor: <a href="mailto:sponsor@vtcodecamp.org">sponsor@vtcodecamp.org</a></span></p>
        </article>
        <article>
            <h1>At a Glance</h1>
            <ul>
                <li><strong>What:</strong> Vermont Code Camp <em class="flag">8th Annual</em></li>
                <li><strong>When:</strong> September 17, 2016</li>
                <li><strong>Where:</strong> Burlington, Vermont</li>
                <li><strong>Who:</strong> Organized primarily by the Vermont.NET User Group with help from other groups including the Burlington, Vermont PHP Users Group</li>
                <li><strong>Why:</strong> To share knowledge amongst technology professionals, students, and enthusiasts</li>
                <li><strong>How:</strong> Through the hard work of organizers, the commitment of volunteers, and the generosity of sponsors</li>
            </ul>
        </article>
    </article>
</section>
{% endblock %}
