{% extends "layouts/default.html" %}

{% block title %}Bringing Together Technology Community Members, Students and Professionals{% endblock %}

{% block description %}Vermont Code Camp is a full day event that brings together technology community members, students and professionals from around Vermont and beyond.{% endblock %}

{% block content %}
<section id="content">
    <article id="attend" class="anchor">
        <header>
            <h1>Attend</h1>
            <img src="/media/event-directional-sign-480x320.jpg" width="480" height="320" alt="Event Directional Sign" />
        </header>
        <article>
            <h1>About the Event</h1>
            <p>The 10th annual <strong>Vermont Code Camp</strong> will be held on September 15, 2018 in Burlington, Vermont.</p>
            <p>
                The entire day is <strong>free</strong> including morning coffee & pastries, lunch and afternoon snacks for all attendees.
                The event will bring together technology community members, students and professionals from around
                Vermont and beyond. A wide variety of software technologies will be represented. Session topics range from
                software development (e.g. languages, tools, practices, databases, web development, etc.) to the business of
                software and technology (e.g. entrepreneurship, consulting, team dynamics, etc.).
            </p>

            <p>
                <a href="https://www.meetup.com/VTCode/events/250412515/" class="button">Sign Up On Meetup</a>
            </p>
            <dl>
                <dt><i class="fa fa-calendar"></i> When</dt>
                <dd>Saturday, September 15, 2018</dd>
                <dt><i class="fa fa-map-marker"></i> Where</dt>
                <dd>Center for Communication and Creative Media</dd>
                <dd>Champlain College</dd>
                <dd>375 Maple Street</dd>
                <dd>Burlington, VT</dd>
            </dl>
            <p>
                <strong>
                    <a href="/conduct">Code of Conduct</a> |
                    <a href="/diversity">Diversity Statement</a> |
                    <a href="https://github.com/vtcodecamp/documents/blob/master/ChamplainCollegeParking.md">Parking Instructions</a>
                </strong>
            </p>
        </article>
        
    </article>
    <article id="sessions" class="anchor">
            <header>
                    <h1>Sessions</h1>
                </header>
        <script type="text/javascript" src="https://sessionize.com/api/v2/smmbk63y/view/gridtable"></script>
    </article>
    <!-- <article id="speak" class="anchor">
        <header>
            <h1>Speak</h1>
            <img src="/media/speaker-presentation-480x320.jpg" width="480" height="320" alt="Speaker Presentation" />
        </header>
        <article>
            <h1>Propose a Session</h1>
            <p>The deadline to submit session proposals has passed. Thank you to everyone of those who submitted talks.</p>
            <p><span class="highlight">Help us with our ongoing work to build a more <a href="/diversity">diverse</a> conference experience.</span> We welcome recommendations of future speakers and organizers.</p>
        </article>
    </article> -->
    <article id="sponsor" class="anchor">
        <header>
            <h1>Sponsor</h1>
            <!-- <img src="/media/handing-out-swag-480x320.jpg" width="480" height="320" alt="Handing Out Swag" /> -->
        </header>

        <article class="sponsors">
                <h1>Premier Sponsors</h1>
                <ul class="sponsors premier-level">
                    <li><a href="http://www.champlain.edu/"><span class="logo champlain-college">Champlain College</span></a></li>
                    <li><a href="https://www.jetbrains.com/"><span class="logo jetbrains">Jetbrains</span></a></li>
                    <li><a href="https://www.uvmhealth.org/" class="logo the-university-of-vermont-medical-center">The University of Vermont Medical Center</a></li>
                    <li><a href="https://www.burlingtontelecom.com/"><span class="logo burlington-telecom">Burlington Telecom</span></a></li>
                    <li><a href="http://mywebgrocer.com/" class="logo mywebgrocer">MyWebGrocer</a></li>
                </ul>
                <h1>Platinum Sponsor</h1>
                <ul class="sponsors">
                    <li><a href="http://www.aerieconsulting.com/"><span class="logo aerie-consulting">Aerie Consulting</span></a></li>
                    <li><a href="https://www.galenhealthcare.com/"><span class="logo galen-healthcare-solutions">Aerie Consulting</span></a></li>
                </ul>
                <h1>Gold Sponsors</h1>
                <ul class="sponsors">
                    <li><a href="https://www.teksystems.com/en" class="logo tek-systems">TEKSystems</a></li>
                    <li><a href="https://www.competitive.com/" class="logo competitive-computing">Competitive Computing</a></li>
                    <li><a href="https://www.allscripts.com/allscripts-com/careers" class="logo allscripts">Allscripts</a></li>
                    <li><a href="https://www.dealer.com/company/careers/" class="logo ddc">Dealer.com</a></li>
                    <li><a href="https://www.twilio.com/company/brand" class="logo twilio">Twilio</a></li>
                </ul>
                <h1>Silver Sponsors</h1>
                <ul class="sponsors">
                    <li><a href="https://symbioticlabs.io/" class="logo symbiotic-labs">Symbiotic Labs</a></li>
                    <li><a href="http://www.usabilitykitty.com/" class="logo usability-kitty">Mandy Swithenbank:</a></li>
                    <li><a href="https://owlfeatherautomation.com/" class="logo owlfeather">Shawn Vernier</a></li>
                    <li><a href="https://www.dealerpolicy.com/" class="logo dealerpolicy">Dealer Policy</a></li>
                    <li><a href="https://www.vermontsystems.com/" class="logo vermontsystems">Vermont Systems</a></li>
                </ul>
                <h1>Bronze Sponsors</h1>
                <ul class="sponsors">
                    <li><a href="https://www.mabl.com/" class="logo mabl">Mabl</a></li>
                </ul>
                <h1>Swag, Giveaways &amp; More</h1>
                <ul class="sponsors">
                    <li><a href="https://www.manning.com/" class="logo manning">Manning Publications</a></li>
                    <li><a href="http://www.codemag.com/" class="logo code-magazine">CODE Magazine</a></li>
                    <li><a href="https://www.pluralsight.com/" class="logo pluralsight">Pluralsight</a></li>
                    <li><a href="https://www.tylertech.com/" class="logo tyler-technologies">Tyler Tech</a></li>
                </ul>
                <h1>Community Partners</h1>
                <ul class="sponsors">
                    <li><a href="http://www.btvignite.com/"><span class="logo btv-ignite">BTV Ignite</span></a></li>
                    <li><a href="https://sessionize.com/"><span class="logo sessionize">Sessionize.com</span></a></li>
                </ul>
            </article>
        <aside>
            <h1>Key Facts</h1>
            <ul>
                <li>Vermont Code Camp is an annual event – its inaugural year was 2009</li>
                <li>Attendance and participation is strong:
                    <ul>
                        <li><a href="/2017/">2017</a>: 250 attendees, 34 sessions, 34 speakers</li>
                        <li><a href="/2016/">2016</a>: 194 attendees, 37 sessions, 35 speakers</li>
                        <li><a href="/2015/">2015</a>: 165 attendees, 32 sessions, 34 speakers</li>
                        <li><a href="/2014/">2014</a>: 165 attendees, 29 sessions, 29 speakers <small>(plus 2 lunchtime special presentations)</small></li>
                        <li><a href="/2013/">2013</a>: 161 attendees, 27 sessions, 27 speakers <small>(plus a lunchtime special presentation)</small></li>
                        <li><a href="/2012/">2012</a>: 171 attendees, 29 sessions, 28 speakers</li>
                        <li><a href="/2011/">2011</a>: 158 attendees, 26 sessions, 24 speakers</li>
                        <li><a href="/2010/">2010</a>: 125 attendees, 25 sessions, 23 speakers</li>
                        <li>2009: 85 attendees, 19 sessions</li>
                    </ul>
                </li>
                <li>Covers a wide variety of technology topics including .NET, PHP, Ruby, Python, and Java</li>
                <li>Entirely community organized, with the help of sponsors</li>
                <li>Organized primarily by the Vermont.NET User Group with help from other groups including the Burlington, Vermont PHP Users Group</li>
                <li>Facility in 2017 provided by the Center for Communication and Creative Media at Champlain College; Facility previously provided by The University of Vermont Grossman School of Business</li>
                <li>Sponsors have included MyWebGrocer, Green Mountain Coffee Roasters, Microsoft, and Dealer.com</li>
                <li>Registration is free</li>
            </ul>
        </aside>
        <article>
            <h1>Be a Sponsor</h1>
            <p>
                Vermont Code Camp is free event for attendees and organized entirely by community volunteers, with the help of our
                sponsors. Our 2017 event drew 250 attendees. We had 7 session slots throughout the day with 5 sessions running
                at any one time. You can see <a href="/2017/schedule">last year’s schedule here</a>.
            </p>
            <p>
                WCAX visited during the day. Co-organizer,
                <a href="http://www.wcax.com/content/news/A-tech-lovers-paradise-445146003.html">Rob Hale, was interviewed</a> about the event.
            </p>
            <p>
                While we keep our budget trim, we can’t pull off VT Code Camp without the financial support of our sponsors.
                Sponsorship opportunities typically include:
            </p>
            <ul>
                <li><strong>Feed us:</strong> sponsor breakfast, lunch or afternoon snacks</li>
                <li><strong>Fund us:</strong>  enable us to cover our expenses for printing and other materials</li>
                <li><strong>Educate us:</strong> send books, mags, training to raffle</li>
                <li><strong>Simplify our lives:</strong> send your great software to raffle</li>
                <li><strong>Promote us:</strong> give us advertising space</li>
                <li><strong>Entertain us:</strong> sponsor the after party for speakers and volunteers</li>
            </ul>
            <h2>Sponsorship Levels</h2>
            <ul>
                <li><strong>Premier:</strong> $1,000+ or significant in-kind donation</li>
                <li><strong>Platinum:</strong> $750+</li>
                <li><strong>Gold:</strong> $500+</li>
                <li><strong>Silver:</strong> $250+</li>
                <li><strong>Bronze:</strong> $100+</li>
                <li><strong>Swag:</strong> Give-away items (e.g. books, bags, items to put in attendee bags, software licenses, other raffle items, etc.)</li>
            </ul>

            <h2>Share With Your Team</h2>
            <p>
                <a  href="/docs/vtcc10sponsorinfo.pdf">
                    <span class="fa fa-file-pdf-o" style="float: left; font-size: 1.7em; margin: -0.1em 0.3em 0 0;"> </span>
                    <strong>Download sponsorship information</strong>
                </a>
            </p>

            <p><span class="highlight">Contact us to learn more or to become a sponsor: <a href="mailto:sponsor@vtcodecamp.org">sponsor@vtcodecamp.org</a></span></p>
        </article>
        <article>
            <h1>At a Glance</h1>
            <ul>
                <li><strong>What:</strong> Vermont Code Camp <em class="flag">10th Annual</em></li>
                <li><strong>When:</strong> Saturday, September 15, 2018</li>
                <li><strong>Where:</strong> Burlington, Vermont</li>
                <li><strong>Who:</strong> Organized primarily by the Vermont.NET User Group with help from other groups and individuals</li>
                <li><strong>Why:</strong> To share knowledge amongst technology professionals, students, and enthusiasts</li>
                <li><strong>How:</strong> Through the hard work of organizers, the commitment of volunteers, and the generosity of sponsors</li>
            </ul>
        </article>
    </article>
</section>
{% endblock %}
