{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section id="content">
    <h1>Vermont Code Camp</h1>
    <article>
        <h1>Be a Sponsor</h1>
        <p>Vermont Code Camp is organized entirely by community volunteers, with the help of several sponsors. There are a variety of sponsorship opportunities available.</p>
        <p><a href="/sponsor">Sponsor</a> Vermont Code Camp.</p>
    </article>
    <article>
        <h1>Propose a Session</h1>
        <p>Please consider submitting a speaker session proposal. You don’t have to be from Vermont to attend or speak.</p>
        <p>Check back during the summer of 2012 to submit a proposal or <a href="http://twitter.com/VTCodeCamp">follow us on Twitter</a> to keep up-to-date.</p>
    </article>
    <article>
        <h1>Registration Opens in Late Summer 2012</h1>
        <p>Check back during the summer of 2012 to register.</p>
        <p><a href="http://twitter.com/VTCodeCamp">Follow us on Twitter</a> to keep up-to-date about the event.</p>
    </article>
</section>
{% endblock %}
