{% extends "layout.html" %}

{% block title %}2012 Schedule{% endblock %}

{% block description %}The Vermont Code Camp 2012 schedule includes sessions on a variety of software topics.{% endblock %}

{% block content %}
<section id="content">
    <h1>2012 Schedule</h1>
    <p>The Vermont Code Camp 2012 schedule includes sessions on a variety of software topics.</p>
    <table>
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Track / Room</th>
                <th scope="col">Track / Room</th>
                <th scope="col">Track / Room</th>
                <th scope="col">Track / Room</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Time</td>
                <td>Session Title</td>
                <td>Session Title</td>
                <td>Session Title</td>
                <td>Session Title</td>
            </tr>
            <tr>
                <td scope="row">Time</td>
                <td>Session Title</td>
                <td>Session Title</td>
                <td>Session Title</td>
                <td>Session Title</td>
            </tr>
            <tr>
                <td scope="row">Time</td>
                <td>Session Title</td>
                <td>Session Title</td>
                <td>Session Title</td>
                <td>Session Title</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
