{% extends "layout.html" %}

{% block title %}Speak{% endblock %}

{% block content %}
<section id="content">
    <h1>Speak</h1>
    <article>
        <h1>Propose a Session</h1>
        <p>Vermont Code Camp needs you!</p>
        <p>Please consider submitting a speaker session proposal. You don’t have to be from Vermont to attend or speak.</p>
        <p>Possible topics include:</p>
        <ul>
            <li>.NET</li>
            <li>PHP</li>
            <li>Ruby</li>
            <li>Python</li>
            <li>Java</li>
            <li>…really, anything related to development</li>
        </ul>
    </article>
    <aside>
        <h1>Proposal Submission</h1>
        <p>We're not currently accepting proposals for Vermont Code Camp 2012.</p>
        <p>Check back during the summer of 2012 to submit a proposal or <a href="http://twitter.com/VTCodeCamp">follow us on Twitter</a> to keep up-to-date.</p>
    </aside>
</section>
{% endblock %}
