{% extends "layout.html" %}

{% block title %}Sponsor{% endblock %}

{% block content %}
<section id="content">
    <h1>Sponsor</h1>
    <aside>
        <ul>
            <li><strong>What:</strong> Vermont Code Camp <em>4th Annual</em></li>
            <li><strong>When:</strong> September, 2012</li>
            <li><strong>Where:</strong> Burlington, Vermont</li>
            <li><strong>Who:</strong> Organized primarily by the Vermont.NET User Group with help from other groups including the Burlington, Vermont PHP Users Group</li>
            <li><strong>Why:</strong> To share knowledge amongst technology professionals, students, and enthusiasts</li>
            <li><strong>How:</strong> Through the hard work of organizers, the commitment of volunteers, and the generosity of sponsors</li>
        </ul>
    </aside>
    <article>
        <h1>Be a Sponsor</h1>
        <p>The fourth annual Vermont Code Camp will be held in September 2012 in Burlington, Vermont. This full day event will bring together technology community members, students and professionals from around Vermont and beyond. A wide variety of software technologies will be represented including .NET, PHP, Ruby, Python, Java and more. There is no cost for participants to attend.</p>
        <p>Vermont Code Camp is organized entirely by community volunteers, with the help of several sponsors. There are a variety of sponsorship opportunities available, including:</p>
        <ul>
            <li>Feed us (sponsor breakfast, lunch or afternoon snacks)</li>
            <li>Educate us (send books, mags, training to raffle)</li>
            <li>Simplify our lives (send your great software to raffle)</li>
            <li>Promote us (give us advertising space)</li>
        </ul>
        <p>Contact us to learn more or to become a sponsor: <a href="mailto:sponsor@vtcodecamp.org">sponsor@vtcodecamp.org</a></p>
    </article>
    <aside>
        <h1>Key Facts</h1>
        <ul>
            <li>Vermont Code Camp is an annual event – its inaugural year was 2009</li>
            <li>Attendance and participation is strong:
                <ul>
                    <li>2011: 158 attendees, 26 sessions, 24 speakers</li>
                    <li>2010: 125 attendees, 25 sessions, 23 speakers</li>
                    <li>2009: 85 attendees, 19 sessions</li>
                </ul>
            </li>
            <li>Covers a wide variety of technology topics including .NET, PHP, Ruby, Python, and Java</li>
            <li>Entirely community organized, with the help of sponsors</li>
            <li>Organized primarily by the Vermont.NET User Group with help from other groups including the Burlington, Vermont PHP Users Group</li>
            <li>Facility provided by The University of Vermont’s School of Business Administration</li>
            <li>Sponsors have included MyWebGrocer, Green Mountain Coffee Roasters, Microsoft, and Dealer.com</li>
            <li>Registration is free</li>
        </ul>
    </aside>
</section>
{% endblock %}
