<html class="no-js">
<head>
{% set primaryTitle = 'Vermont Code Camp' %}
{% set secondaryTitle = block('title') %}
{% if secondaryTitle is not empty %}
    <title>{{ secondaryTitle }} :: {{ primaryTitle }}</title>
{% else %}
    <title>primaryTitle</title>
{% endif %}
{% set description = block('description') %}
{% if description is not empty %}
    <meta name="description" content="{{ description }}">
{% endif %}
    <link rel="profile" href="http://microformats.org/profile/hcalendar">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="handheld, all" />
    <link href="/css/reset.css?rev=aab9ad3fbc2c1408447c191f51ccc059bfb0cb11" rel="stylesheet" type="text/css" media="handheld, all" />
    <link href="/css/layout.css?rev=c2e6a1aa9c007c96de8658e2bd6cd16fb5548787" rel="stylesheet" type="text/css" media="handheld, all" />
    <link href="/css/content.css?rev=d7e210bf7cecbf615c4edc9ab5041a2014bd18cd" rel="stylesheet" type="text/css" media="handheld, all" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="handheld, all" />
    <script src="/js/modernizr-2.6.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.smooth-scroll.min.js" type="text/javascript"></script>
    <script src="/js/jquery.ba-hashchange.min.js" type="text/javascript"></script>
    <script src="/js/layout.js?rev=5a06caa2c39225431cbeec861ffcc51d38933c4f" type="text/javascript"></script>
    <!--[if (gte IE 6)&(lte IE 9)]>
        <link href="/css/layout-ie.css?rev=d240233e8c635288fafb8ab98f624a3d195f5a1b" rel="stylesheet" type="text/css" media="handheld, all" />
        <script src="/js/css3-mediaqueries.js" type="text/javascript"></script>
    <![endif]-->
    <link href="/humans.txt" rel="author" type="text/plain" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
{% if ga.trackingId %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ga.trackingId}}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
{% endif %}
</head>
<body>
    <header class="page">
        <div class="inner">
            <nav>
                <h1><a href="{{ path('page') }}"><img src="/images/vermont-code-camp-logo-400x66.png" width="400" height="66" alt="Vermont Code Camp" id="vermont-code-camp-logo" title="Vermont Code Camp homepage" /></a></h1>
                <ul>
                    <li><a href="{{ path('page') }}#attend" data-anchor="attend">Attend</a></li>
                    <li><a href="{{ path('page') }}#speak" data-anchor="speak">Speak</a></li>
                    <li><a href="{{ path('page') }}#sponsor" data-anchor="sponsor">Sponsor</a></li>
                </ul>
            </nav>
            <div class="meta">
                <p><abbr title="Saturday, September 16, 2017, 8:30am - 5:30pm" class="date-time"><span class="day">Saturday</span> <span class="month">Sept</span> <span class="date">16</span> <span class="time">8:30am - 5:30pm</span></abbr> <abbr title="Center for Communication and Creative Media, Champlain College, 375 Maple Street, Burlington, VT" class="location"><span class="building">Center for Communication and Creative Media,</span> Champlain College, <small>Burlington, VT</small></abbr></p>
            </div>
        </div>
    </header>
    <aside class="page">
        <div class="inner">
            <p><a href="{{ path('schedule', {'year': '2017'}) }}"><strong>Attending Vermont Code Camp 2017?</strong> View the schedule. <i class="fa fa-chevron-circle-right"></i></a></p>
        </div>
    </aside>
{% block content %}{% endblock %}
    <footer class="page">
        <div class="inner">
            <p>&copy; Vermont Code Camp | <a href="mailto:info@vtcodecamp.org">info@vtcodecamp.org</a> | @<a href="http://twitter.com/VTCodeCamp">VTCodeCamp</a></p>
            <p>A special thanks to <a href="http://www.flickr.com/photos/42504188@N03/">Rob Hale</a> and <a href="http://www.flickr.com/photos/daveburkevt/">Dave Burke</a> for permission to use their photography of Vermont Code Camp.</p>
        </div>
    </footer>
</body>
</html>
