h1,
h2,
p,
ul,
ol,
dl,
table,
img {
    margin-top: 1.0em;
}
h1,
h2,
p,
li,
dt,
dd {
    font-size: 1.6em;
    line-height: 1.3;
}
h1,
h1 a,
h2,
h2 a {
    color: #333;
}
h1,
h2 {
    font-weight: bold;
}
h1 {
    font-size: 3.0em;
}
h1 {
    font-size: 2.6em;
}
ul ul,
ul ol,
ol ul,
ol ol {
    margin-top: 0;
}
li {
    margin-top: 0.6em;
    margin-left: 1.5em;
}
li li {
    font-size: 1.0em;
}
ul li {
    list-style-type: disc;
}
ol li {
    list-style-type: decimal;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
small {
    font-size: 0.8em;
}
img {
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em;
}
a {
    color: #444;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #666;
    text-decoration: underline;
}
.flag {
    padding: 0.1em 0.3em;
    background-color: #AAA;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    font-size: 0.8em;
    font-style: normal;
    color: white;
}
