.button,
.button:hover,
.button:focus {
    background-image: none;
}
.button:hover,
.button:focus {
    background-color: #1A4E78;
}
ul.categories,
article.session h3 {
    overflow: hidden;
}
ul.categories,
ul.categories li.category {
    display: block;
    float: left;
    clear: none;
}
article.session {
    padding-top: 2.0em;
}
article.space h2,
article.session h3 {
    width: 100%;
}
