#content,
header.page nav,
footer.page,
#error #content {
    _width: 960px;
}
header.page .event,
header.page .meta,
header.page .meta .date-time,
header.page .meta .location,
header.page .meta .callout,
.anchor article.sponsors li {
    float: left;
    clear: none;
}
header.page .event {
    width: 400px;
}
header.page .meta .location {
    margin-top: 1.5em;
}
header.page .meta .callout {
    margin-top: 3.0em;
    margin-right: 0.4em;
}
.anchor {
    margin-top: 3.0em;
}
