#content,
header.page nav,
footer.page,
#error #content {
    _width: 960px;
}
.anchor {
    margin-top: 3.0em;
}
.anchor article.sponsors li {
    display: inline;
}
#event {
    overflow: hidden;
}
#event h1,
#event ul,
#event li {
    float: left;
    clear: none;
}
#event ul {
    margin-top: 3.0em;
}
