RedirectMatch ^/2010/?$ /2010/schedule
RedirectMatch ^/2011/?$ /2011/schedule
RedirectMatch ^/2012/?$ /2012/schedule
RedirectMatch ^/2013/?$ /2013/schedule
RedirectMatch ^/2014/?$ /2014/schedule

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
