RedirectMatch ^/2010/?$ /2010/schedule
RedirectMatch ^/2011/?$ /2011/schedule
RedirectMatch ^/2012/?$ /2012/schedule
RedirectMatch ^/2013/?$ /2013/schedule
RedirectMatch ^/2014/?$ /2014/schedule
RedirectMatch ^/2015/?$ /2015/schedule
RedirectMatch ^/2016/?$ /2016/schedule
RedirectMatch ^/2017/?$ /2017/schedule

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    #RewriteCond %{HTTPS} off [OR]
    # Specific for Heroku
    RewriteCond %{HTTP:X-Forwarded-Proto} !https [OR]
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
    RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
