<html class="no-js">
<head>
    <title>{{ block('title') }} :: Vermont Code Camp</title>
    <meta name="description" content="{{ block('description') }}">
    <link rel="profile" href="http://microformats.org/profile/hcalendar">
    <link href="/css/reset.css" rel="stylesheet" type="text/css" media="handheld, all" />
    <link href="/css/layout.css" rel="stylesheet" type="text/css" media="handheld, all" />
    <link href="/css/content.css" rel="stylesheet" type="text/css" media="handheld, all" />
    <!--[if IE]>
        <link href="/css/layout-ie.css" rel="stylesheet" type="text/css" media="handheld, all" />
        <link href="/css/content-ie.css" rel="stylesheet" type="text/css" media="handheld, all" />
    <![endif]-->
    <script src="/js/modernizr-2.5.3.js" type="text/javascript"></script>
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/content.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-height">
</head>
<body>
<header class="page">
    <nav>
        <div class="event">
            <h1><a href="{{ path('page') }}" id="vermont-code-camp-logo">Vermont Code Camp</a></h1>
            <ul>
                <li><a href="#attend">Attend</a></li>
                <li><a href="#speak">Speak</a></li>
                <li><a href="#sponsor">Sponsor</a></li>
            </ul>
        </div>
        <p class="meta"><abbr title="Saturday, September 29, 2012, 8am - 6pm" class="date-time"><span class="day">Saturday</span> <span class="month">Sept</span> <span class="date">29</span> <span class="time">8am - 6pm</span></abbr> <abbr title="Kalkin Hall on the University of Vermont Campus, Burlington, VT" class="location">Kalkin Hall <br />UVM Campus <br /><small>Burlington, VT</small></abbr></p>
    </nav>
</header>
{% block content %}{% endblock %}
<footer class="page">
    <p>&copy; Vermont Code Camp | <a href="mailto:info@vtcodecamp.org">info@vtcodecamp.org</a></p>
    <p>A special thanks to <a href="http://www.flickr.com/photos/42504188@N03/">Rob Hale</a> and <a href="http://www.flickr.com/photos/daveburkevt/">Dave Burke</a> for permission to use their photography of Vermont Code Camp.</p>
</footer>
</body>
</html>
