<html>
<head>
    <title>{{ block('title') }} :: Vermont Code Camp</title>
</head>
<body>
{% block content %}{% endblock %}
<footer>
    <nav>
        <h1><a href="{{ urlFor('home') }}" id="vermont-code-camp-logo">Vermont Code Camp</a></h1>
        <ul>
            <li><a href="{{ urlFor('home') }}">Overview</a></li>
            <li><a href="{{ urlFor('page', {'id': 'attend'}) }}">Attend</a></li>
            <li><a href="{{ urlFor('page', {'id': 'speak'}) }}">Speak</a></li>
            <li><a href="{{ urlFor('page', {'id': 'sponsor'}) }}">Sponsor</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
