{% extends "layouts/default.html" %}

{% block title %}{{ event.slug }} Sessions{% endblock %}

{% block description %}Read more about the sessions of {{ event.title }}.{% endblock %}

{% block content %}
<section id="content" class="event-{{ event.slug|raw }}">
{% include 'includes/event.html' %}
    <h1>Sessions</h1>
{% if sessions._embedded.space is defined %}
    <p>Read more about the sessions of {{ event.title }}.</p>
    {% for space in sessions._embedded.space %}
        {% if space._embedded.track is defined %}
    <h2 id="{{ space.slug }}">{{ space._embedded.track.title }} <small>({{ space.title }})</small></h2>
        {% else %}
    <h2 id="{{ space.slug }}">{{ space.title }}</h2>
        {% endif %}
        {% for session in space._embedded.session %}
    <h3 id="{{ session.slug }}">{{ session.title }} ({% for speaker in session._embedded.speaker %}<a href="{{ path('speakers', {'year': event.slug}) }}#{{ speaker.slug|url_encode() }}">{{ speaker.firstName }} {{ speaker.lastName }}</a>{% if not loop.last %}/{% endif %}{% endfor %}) <a href="{{ path('schedule', {'year': event.slug}) }}#{{ session._embedded.timePeriod.slug|url_encode() }}">{{ session._embedded.timePeriod.start|date("g:ia", "America/New_York") }}-{{ session._embedded.timePeriod.end|date("g:ia", "America/New_York") }}</a></h3>
    {{ session.description|markdown }}
            {% if session._embedded.category is defined %}
    <ul class="categories">
                {% for category in session._embedded.category %}
        <li class="category {{ category.slug|raw }}"><span class="flag">{{ category.title }}</span></li>
                {% endfor %}
    </ul>
            {% endif %}
            {% if session._links.resource is defined %}
    <p>Resources:</p>
    <ul>
                {% if session._links.resource.href is defined %}
        <li><a href="{{ session._links.resource.href|raw }}">{{ session._links.resource.title }}</a></li>            
                {% else %}
                    {% for resource in session._links.resource %}
        <li><a href="{{ resource.href|raw }}">{{ resource.title }}</li></p>
                    {% endfor %}
                {% endif %}
    </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    <p>The sessions for {{ event.title }} have yet to be published.</p>
{% endif %}
</section>
{% endblock %}
