{% set event = {'slug': '2014', 'title': 'Vermont Code Camp 2014'} %}
{% extends "layouts/default.html" %}

{% block title %}Promote {{ event.title }}{% endblock %}

{% block description %}The following resources are available to help promote {{ event.title }}.{% endblock %}

{% block content %}
<section id="content" class="event-{{ event.slug|raw }}">
{% include 'includes/event.html' %}
    <h1>Promote {{ event.title }}</h1>
    <p>Thank you for your interest in helping to promote {{ event.title }}. As the event has passed, these materials are no longer available.</p>
</section>
{% endblock %}
