{% extends "layouts/layout.html" %}

{% block title %}2011 Schedule{% endblock %}

{% block description %}The Vermont Code Camp 2011 schedule includes sessions on a variety of software topics.{% endblock %}

{% block content %}
<section id="content">
    <h1>2011 Schedule</h1>
    <p>The Vermont Code Camp 2011 schedule includes sessions on a variety of software topics.</p>
    <table class="schedule">
        <thead>
            <tr>
                <th scope="col" class="timespan">Time</th>
                <th scope="col" class="track">.NET <small class="room">Room 1</small></th>
                <th scope="col" class="track">Web <small class="room">Room 2</small></th>
                <th scope="col" class="track">Data &amp; More <small class="room">Room 3</small></th>
                <th scope="col" class="track">Patterns &amp; Practices <small class="room">Room 4</small></th>
                <th scope="col" class="track"><small class="room">Speaker Room</small></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="timespan">8:00am-8:45am</td>
                <td colspan="5">Registration</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">8:45am-9:00am</td>
                <td colspan="5">Welcome</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">9:00am-10:00am</td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#cloud-architecture-patterns">Cloud Architecture Patterns for Mere Mortals with Examples in Windows Azure</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Bill-Wilder">Bill Wilder</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#asp-net-mvc-a-gateway-to-rails">ASP.NET MVC: A Gateway to Rails?</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Dane-Morgridge">Dane Morgridge</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#introduction-to-sql-server-profiler">Introduction to SQL Server Profiler</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Jack-Corbett">Jack Corbett</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#effective-prototyping">Effective Prototyping: A developer's guide to better design through prototyping</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Everett-McKay">Everett McKay</a></small></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">10:15am-11:15am</td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#silverlight-development-wp-7-1">What's New in WP 7.1 Silverlight Development</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#John-Garland">John Garland</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#html5-a-practical-first-look">HTML5 – A Practical First Look</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Chris-Bowen">Chris Bowen</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#tackling-big-data-with-hadoop">Tackling Big Data with Hadoop</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#David-Howell">David Howell</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#functional-programming">What is functional programming?</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Eric-Smith">Eric Smith</a></small></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">11:30am-12:30pm</td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#testable-entity-framework">EFing with Code First</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Dane-Morgridge">Dane Morgridge</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#website-performance">A Holistic view of Website Performance</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Rene-Churchill">Rene Churchill</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#ssis-whats-new-in-sql-server-denali">SSIS: What's new in SQL Server Denali?</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Christian-Cote">Christian Coté</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#functional-programming-on-the-jvm">Functional Programming on the JVM</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Jonathan-Phillips">Jonathan Phillips</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#emacs">Emacs: Everyday, Everyway</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Josh-Sled">Josh Sled</a></small></td>
            </tr>
            <tr>
                <td scope="row" class="timespan">12:30pm-1:30pm</td>
                <td colspan="5">Lunch</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">1:30pm-2:30pm</td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#lets-talk-virtualization">Let's talk Virtualization</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Etienne-Tremblay">Etienne Tremblay</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#web-security-issues">Web Security Issues</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Rene-Churchill">Rene Churchill</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#cloud-computing-smorgasbord">Sampling from the Cloud Computing Smorgasbord</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Jim-ONeil">Jim O'Neil</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#foss-in-the-enterprise">FOSS in the Enterprise</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Kevin-Thorley">Kevin Thorley</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#software-consulting">Software Consulting</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Matt-Van-Horn">Matt Van Horn</a></small></td>
            </tr>
            <tr>
                <td scope="row" class="timespan">2:45pm-3:45pm</td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#asp-net-mvc-3">Building a Real World Application with MVC 3</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Maxime-Rouiller">Maxime Rouiller</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#ext-js">Introduction to the Ext JS JavaScript framework "for Rich Apps in Every Browser"</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Maura-Wilder">Maura Wilder</a>/<a href="{{ path('page', {'id': '2011/speakers'}) }}#Joan-Wortman">Joan Wortman</a></small></td>
                <td> <a href="{{ path('page', {'id': '2011/sessions'}) }}#dot-net-and-nosql">.NET and NoSQL: Relaxing with CouchDB</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#John-Zablocki">John Zablocki</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#mocking-and-mocking-frameworks">Mocking and mocking frameworks</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Vincent-Grondin">Vincent Grondin</a></small></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">3:45pm-4:15pm</td>
                <td colspan="5">Snacks</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">4:15pm-5:15pm</td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#getting-high-on-mef">Getting High on MEF</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Matt-Van-Horn">Matt Van Horn</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#css-wrangling-with-sass">CSS Wrangling with SASS</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Rob-Friesel">Rob Friesel</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#vs-2010-testing-tools">VS 2010 Testing Tools</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Vincent-Grondin">Vincent Grondin</a>/<a href="{{ path('page', {'id': '2011/speakers'}) }}#Etienne-Tremblay">Etienne Tremblay</a></small></td>
                <td><a href="{{ path('page', {'id': '2011/sessions'}) }}#dependency-injection">Dependency Injection</a> <small class="speaker"><a href="{{ path('page', {'id': '2011/speakers'}) }}#Josh-Sled">Josh Sled</a></small></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td scope="row" class="timespan">5:30pm</td>
                <td colspan="5">Raffle</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
